    <div class="footer d-flex bd-highlight">
        <div class="p-2 bd-highlight align-items-center">
            <p class="desarrollo">
                Sitio desarrollado por Javier Solari Paz - 2021
            </p>
        </div>
        <div class="ms-auto p-2 bd-highlight">
            <a href="https://www.osde.com.ar/index.html#!homepage.html">
                <img class="logo_osde" src="/public/images/logo_osde.svg" alt="OSDE">
            </a>
        </div>
    </div>
