
    <div class="mb-0 b-0 ">
        <div class="footer d-flex bd-highlight">
            <div class="p-2 w-100 bd-highlight">
                <p class="desarrollo p-1">
                    Sitio desarrollado por Javier Solari Paz - 2021
                </p>
            </div>
            <div class="p-2 m-0 flex-shrink-1 bd-highlight">
                <a href="https://www.osde.com.ar/index.html#!homepage.html">
                    <img class="logo_osde" src="/images/logo_osde.svg" alt="OSDE">
                </a>
            </div>
        </div>
    </div>
