
<div class="form-group row bg-light mt-3 p-3">
    <div class="prestador form-group col-12 d-flex justify-content-center">
        
            <button type="button" class="btn btn-outline-info btn-sm m-auto" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <i class="fas fa-user-md"></i> Prestador
            </button>
        
    </div>
</div>