<div class="col px-4 mt-3">
    <h5 class="text-secondary" id="tituloProtesis">
        <i class="fas fa-wheelchair"></i> Prótesis
    </h5>
    <div class="dropdown-divider"></div>
</div>

<div class="container">
    <div class="row px-3">
        <!-- protesis -->
        <div class="form-group col-5 form-control-sm">
            <label for="protesis">Prótesis</label>
            <input
                type="text"
                class="form-control"
                name="protesis"
                id="protesis"
                aria-describedby="protesis"
            />
        </div>

        <!-- Proveedor -->
        <div class="form-group col-7 form-control-sm p-0">
            <label for="proveedor">Proveedor</label>
            <div class="input-group proveedor">
                <select
                    class="form-select"
                    id="proveedor"
                    name="proveedor"
                    aria-label="Seleccione Proveedor"
                >
                    <option selected>Seleccione...</option>
                    <% for (let i=0; i < proveedor.length; i++) { %>
                    <option value="<%= proveedor[i].id %>">
                        <%= proveedor[i].nombre %>
                    </option>
                    <% } %>
                </select>

                <!--agregar nuevo proveedor-->
                <a class="btn btn-outline-secondary" type="button"
                href="#agregar nuevo prestador"
                data-bs-trigger="focus">
                    <i class="fas fa-user-plus"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row px-3 mb-3">
        <!-- gestion proveedor -->
        <div class="form-group col-4 form-control-sm">
            <label for="gestion_proveedor">Gestión de Compras</label>
            <input
                type="text"
                class="form-control"
                name="gestion_proveedor"
                id="gestion_proveedor"
                placeholder="$"
                aria-describedby="gestion_proveedor"
                data-bs-trigger="focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="Descuento conseguido con el proveedor"
            />
        </div>
        <!-- gestion_auditoria -->
        <div class="form-group col-4 form-control-sm">
            <label for="gestion_medico">Gestión Médica</label>
            <input
                type="text"
                class="form-control"
                name="gestion_medico"
                id="gestion_medico"
                placeholder="$"
                aria-describedby="gestion_medico"
                data-bs-trigger="focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="Valor ahorrado - Diferencia entre lo Solicitado"
            />
        </div>
        <!-- gestion con el prestador SIN ACEPTACION -->
        <div class="form-group col-4 form-control-sm">
            <label for="gestion_prop_noaceptada "
                >Propuesta sin Aceptación</label
            >
            <input
                type="text"
                class="form-control"
                name="gestion_prop_noaceptada"
                id="gestion_prop_noaceptada"
                placeholder="$"
                aria-describedby="gestion_prop_noaceptada"
                data-bs-trigger="focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="Valor NO ahorrado - No aceptación del Prestador"
            />
        </div>

    </div>
</div>
