<!DOCTYPE html>
<html lang="en">
    <!--head-->
    <%- include("partials/head", {title: "Gestión de Compras" }) -%>

    <body class="d-flex align-items-between flex-wrap">
        <!--header-->
        <div class="align-items-start w-100">
            <%- include("partials/header") -%>
        </div>
        <!--container-->
        <section class="container mt-5 mb-5">
            <div class="row">
                <div
                    class="col-xl-7 col-lg-7 col-md-9 col-sm-12 m-auto bg-white text-dark p-4 rounded animate__animated animate__zoomIn"
                   
                >
                    <div class="col-12">
                        <h5 class="text-secondary">
                            <i class="fas fa-prescription-bottle-alt"></i> Gestiones en Medicamentos 
                        </h5>
                        <h1><%= gestiones.id %></h1>
                        
                        
                    </div>

                   

                    
                        
                    </div>
                </div>
            </div>
        </section>
        <!--footer-->
        <footer class="align-items-end w-100">
            <%- include("partials/footer") -%>
        </footer>

       
    </body>
</html>
