<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <h3>Gesti칩n de Compras</h3>
    <h5>Sitio para an치lisis de propuestas de compra en medicamentos y protesis</h5>

    <a href="/formularioDeCarga">Crear Gesti칩n</a>

    <a href="/formularioDeCarga">Buscar Gesti칩n</a>

  </body>
</html>
