<!DOCTYPE html>
<html lang="en">

  <!--head-->
  <%- include("partials/head", {title: "Gestión de Compras®" }) %>
  
  <body class="">
    <!--header-->
    <%- include("partials/header") -%>

    <!--container-->
    <main class="container d-flex flex-wrap animate__animated animate__zoomIn">
      <div class="content  d-flex m-auto w-100 clear-top">
        <div class="card m-auto d-flex shadow-sm p-3 mb-5 bg-body rounded">
          <div class="card-body d-flex align-items-center">
              <ul class="m-0 p-0">
                <li class="boton_home mb-3">
                  <a href="/gestiones/crearGestion">
                    <button type="button" class="btn btn-outline-info w-100">
                      <i class="far fa-file-alt"></i> Crear Gestión
                    </button>
                  </a>
                </li>
                <li class="boton_home mt-3">
                  <a href="/verGestion">
                    <a href="/gestiones/crearGestion">
                      <button type="button" class="btn btn-outline-info">
                        <i class="fas fa-search"></i> Buscar Gestión
                      </button>
                    </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </main>

    <!--footer-->
    <footer class="">
      <%- include("partials/footer") -%>
    </footer>
    
  </body>
</html>
