<!DOCTYPE html>
<html lang="en">

  <!--head-->
  <%- include("partials/head", {title: "Gestión de Compras®" }) %>
  
  <body>
    <!--header-->
    <%- include("partials/header") -%>

    <main class="container d-flex flex-wrap">
      <div class="content  d-flex align-items-center m-auto w-100">
        <div class="card m-auto mt-5 mb-5 d-flex align-items-center shadow-sm p-3 mb-5 bg-body rounded">
          <div class="card-body d-flex align-items-center">
              <ul class="m-0 p-0">
                <li class="boton_home mb-3">
                  <a href="/gestiones/crearGestion">
                    <button type="button" class="btn btn-outline-info w-100">
                      <i class="far fa-file-alt"></i> Crear Gestión
                    </button>
                  </a>
                </li>
                <li class="boton_home mt-3">
                  <a href="/verGestion">
                    <a href="/gestiones/crearGestion">
                      <button type="button" class="btn btn-outline-info">
                        <i class="fas fa-search"></i> Buscar Gestión
                      </button>
                    </a>
                </li>
              </ul>
          </div>
        </div>
      </div>
      <div class="d-flex m-auto">
        <p id="copete">Sitio para análisis de propuestas de compra en medicamentos y protesis</p>
      </div>
    </main>
    

    
    
    <!--footer-->
      <%- include("partials/footer") -%>
    
    
  </body>
</html>
