<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("partials/head", {title: "Gestión de Compras" }) -%>

    <body>

        <!--header-->
        <%- include("partials/header") -%>

            <h3>Visualizar Gestión</h3>
            <h5>Sitio para análisis de propuestas de compra en medicamentos y protesis</h5>

            

    </body>

    <!--footer-->
    <%- include("partials/footer") -%>

</html>