html {
  min-height: 100%;
}

body {
  margin: 0px;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  margin-bottom: 40px;
}

.footer{
  background-color: whitesmoke;
  height: 40px;
  color: grey;
}

.container {
  min-height: 100%;
  margin: auto;
}

.desarrollo {
  font-size: x-small;
}

ul li {
  list-style-type: none;
}

.nav_header {
  background-color: #2C2C2C;
  color:rgb(236, 236, 236);
}

